/* /////////////////// Header start */

header{
  padding: 20px;
}
header .wrapper, header .wrapper nav{
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

 header .wrapper nav{
display: none;
}

/* /////////////////// Header end */